
<div class="card">
  <mat-card class="card__card-row">
    <mat-grid-list cols="12" rowHeight="30px">
      <mat-grid-tile colspan="6">
        {{category.name}}
      </mat-grid-tile>
      <mat-grid-tile colspan="6">
        <div class="action-items">
          <button mat-icon-button [routerLink]="editLink"><mat-icon class="action-items__action-item">edit</mat-icon></button>
          <button mat-icon-button (click)="onDelete()"><mat-icon class="action-items__action-item">delete</mat-icon></button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
