/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
  background: #252525;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.card {
  background: #141625;
  color: #d4e8ff;
  &__card-row {
    color: #fff;
    background: #151e25;
    margin-top: 5px;
  }
  a {
    color: #fff;
  }
  margin-bottom: 15px;
}

.list-wrapper {
  max-width: 900px;
  padding: 25px;
  margin: auto;
}

.add-btn {
  position: absolute;
  top: 150px;

}

.full-width {
  width: 100%;
}

.mat-form-field .mat-form-field-label {
  color: #babac1;
}

.mat-form-field .mat-form-field-underline {
  background-color: #BABAC1;

}

.main-title {
  font-weight: 100;
  padding-left: 10px;
  color: #fff;
}

.action-items {
  display: flex;
  &__action-item {
    margin-left: 10px;
  }
}
